// In edition mode, we don't want to navigate away
// from the current page when clicking on a block.
div.filkers-block {
  pointer-events: none;
}

div.filkers-block.filkers-block-error {
  pointer-events: initial;
  background-color: rgba(255, 0, 0, .2);
}

div.filkers-product-card div.flk-product-button {
  font-size: 100%;
}

.block-editor-filkers-blocks__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-editor-filkers-blocks__column {
  display: flex;
  flex-direction: column;
}

.block-editor-filkers-blocks__row div.components-unit-control-wrapper {
  margin-right: 5px;
}

.block-editor-filkers-blocks__error {
  color: red;
}

div.filkers-input-uid input {
  width: 100%;
  font-size: 13px;
}

div.filkers-input-uid label {
  margin-bottom: 5px;
}

div.filkers-input-uid div.filkers-input-error {
  color: red;
}


div.filkers-product-selector div.woocommerce-search-list__search {
  clear: both;
}
